@import url("http://fonts.googleapis.com/css?family=Titillium+Web:300");

html {
	margin: 0;
	padding: 0;
	background: url("http://www.cloudcontrol.com/assets/bg_noise.jpg") repeat fixed;
	font-family: 'Titillium Web';
	font-weight: 200;
}


body {
	height: 100%;
	margin: 0;
	padding: 1ex;
	text-align: center;
	font-size: 300%;
	background: url("../images/rocket.png") center bottom / auto 75% no-repeat fixed;
}
